body {
  font-family: 'Roboto', sans-serif;
  background-color: #1c1c1c;
  color: #fff;
  background-image: url("assets/img/body/subtle_Dark_pattern_1.png");
    background-repeat: repeat;
    background-attachment: fixed;

}

h1 {
  font-size: 48px;
  font-weight: 700;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.row-title {
  font-size: 36px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.text-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.card {
  transition: transform 0.3s ease;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.1);
    background: linear-gradient(135deg, #292929, #1c1c1c);
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);

}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

.card-body {
  padding: 1.5rem;
}

.card-title {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.card-text {
  color: #ccc;
}

.section {
  background-color: #292929;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.3s ease;
  overflow: hidden;
  min-height: 50vh !important;
}

.section:hover {
  transform: translateY(-10px);
}

.section h2 {
  font-size: 24px;
  font-weight: 500;
}

.section p {
  color: #ccc;
  font-size: 16px;
  font-weight: 300;
}

.section img {
  width: 100%;
  height: 25vh;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.section:hover img {
  transform: scale(1.1);
}

.modal-content {
  background-color: #292929;
}

.modal-title {
  font-size: 36px;
  font-weight: 700;
}

.modal-body {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.slide-heading {
  color: white;
  font-size: 1.8em;
  text-decoration: underline;
}

.slide-text {
  color: white;
  font-size: 1.5em;
}

.slide-list {
  color: #ccc;
  font-size: 1.4em;
  font-weight: 400;
}

.slide-code {
  background-color: #1c1c1c;
  color: #fff;
  font-size: 14px;
}

.slide-text-emphasize {
  font-size: 1.8rem;
  font-weight: 600;
  text-decoration: underline #f39c12;
  text-decoration-style: solid;
}

.modal-body th,
.modal-body td {
  color: #ccc;
  font-size: 16px;
}


/* Css for timeline */
.timeline-container {
  max-height: 70vh;
  overflow-y: auto;
  padding-right: 15px;
}

.timeline {
  position: relative;
  padding: 20px 0;
}

.timeline:before {
  content: '';
  position: absolute;
  left: 50%;
  top: 0;
  width: 4px;
  height: 100%;
  background-color: #007bff;
  transform: translateX(-50%);
}

.timeline-item {
  position: relative;
  margin-bottom: 50px;
}

.timeline-content {
  position: relative;
  width: 45%;
  padding: 20px;
  background-color: #222;
  border: 2px solid #007bff;
  border-radius: 10px;
}

.timeline-content:before {
  content: '';
  position: absolute;
  top: 20px;
  right: -20px;
  border-style: solid;
  border-width: 10px 0 10px 20px;
  border-color: transparent transparent transparent #007bff;
}

.timeline-item:nth-child(even) .timeline-content {
  left: 55%;
}

.timeline-item:nth-child(even) .timeline-content:before {
  left: -20px;
  right: auto;
  border-width: 10px 20px 10px 0;
  border-color: transparent #007bff transparent transparent;
}

.timeline-item:hover .tooltip-text {
  visibility: visible;
}

.tooltip-text {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  left: 50%;
  top: -30px;
  transform: translateX(-50%);
  background-color: #000;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  white-space: nowrap;
}

.timeline-date {
  position: absolute;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
  background-color: #007bff;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  white-space: nowrap;
}

.timeline-content h3 {
  color: #007bff;
  font-weight: bold;
  margin-bottom: 10px;
}

.timeline-content p {
  color: #ccc;
  margin-bottom: 0;
}